src/wpf/assets-management-system/obj/
src/wpf/assets-management-system/bin/
src/wpf/assets-management-system/bin/Debug/net5.0-windows/assets-management-system.deps.json
src/wpf/assets-management-system/bin/Debug/net5.0-windows/assets-management-system.dll
src/wpf/assets-management-system/bin/Debug/net5.0-windows/assets-management-system.exe
src/wpf/assets-management-system/bin/Debug/net5.0-windows/assets-management-system.pdb
src/wpf/assets-management-system/bin/Debug/net5.0-windows/assets-management-system.runtimeconfig.dev.json
src/wpf/assets-management-system/bin/Debug/net5.0-windows/assets-management-system.runtimeconfig.json
src/wpf/assets-management-system/bin/Debug/net5.0-windows/ref/assets-management-system.dll
src/wpf/assets-management-system/MainWindow.xaml
src/wpf/assets-management-system/MainWindow.xaml.cs
src/wpf/assets-management-system/obj/assets-management-system.csproj.nuget.dgspec.json
src/wpf/assets-management-system/obj/assets-management-system.csproj.nuget.g.props
src/wpf/assets-management-system/obj/assets-management-system.csproj.nuget.g.targets
src/wpf/assets-management-system/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
src/wpf/assets-management-system/obj/Debug/net5.0-windows/App.g.cs
src/wpf/assets-management-system/obj/Debug/net5.0-windows/App.g.i.cs
src/wpf/assets-management-system/obj/Debug/net5.0-windows/apphost.exe
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.AssemblyInfo.cs
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.AssemblyInfoInputs.cache
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.assets.cache
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.csproj.CoreCompileInputs.cache
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.csproj.FileListAbsolute.txt
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.csprojAssemblyReference.cache
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.designer.deps.json
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.designer.runtimeconfig.json
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.dll
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.g.resources
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.GeneratedMSBuildEditorConfig.editorconfig
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.genruntimeconfig.cache
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.pdb
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system_MarkupCompile.cache
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system_MarkupCompile.i.cache
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system_MarkupCompile.lref
src/wpf/assets-management-system/obj/Debug/net5.0-windows/MainWindow.baml
src/wpf/assets-management-system/obj/Debug/net5.0-windows/MainWindow.g.cs
src/wpf/assets-management-system/obj/Debug/net5.0-windows/MainWindow.g.i.cs
src/wpf/assets-management-system/obj/Debug/net5.0-windows/ref/assets-management-system.dll
src/wpf/assets-management-system/obj/project.assets.json
src/wpf/assets-management-system/obj/project.nuget.cache
