.vs
src/wpf/assets-management-system/.vs/
src/wpf/assets-management-system/obj/
src/wpf/assets-management-system/bin/
src/wpf/.vs/
src/wpf/assets-management-system/bin/Debug/net5.0-windows/assets-management-system.deps.json
src/wpf/assets-management-system/bin/Debug/net5.0-windows/assets-management-system.dll
src/wpf/assets-management-system/bin/Debug/net5.0-windows/assets-management-system.exe
src/wpf/assets-management-system/bin/Debug/net5.0-windows/assets-management-system.pdb
src/wpf/assets-management-system/bin/Debug/net5.0-windows/assets-management-system.runtimeconfig.dev.json
src/wpf/assets-management-system/bin/Debug/net5.0-windows/assets-management-system.runtimeconfig.json
src/wpf/assets-management-system/bin/Debug/net5.0-windows/ref/assets-management-system.dll
src/wpf/assets-management-system/obj/assets-management-system.csproj.nuget.dgspec.json
src/wpf/assets-management-system/obj/assets-management-system.csproj.nuget.g.props
src/wpf/assets-management-system/obj/assets-management-system.csproj.nuget.g.targets
src/wpf/assets-management-system/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
src/wpf/assets-management-system/obj/Debug/net5.0-windows/App.g.cs
src/wpf/assets-management-system/obj/Debug/net5.0-windows/App.g.i.cs
src/wpf/assets-management-system/obj/Debug/net5.0-windows/apphost.exe
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.AssemblyInfo.cs
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.AssemblyInfoInputs.cache
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.assets.cache
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.csproj.CoreCompileInputs.cache
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.csproj.FileListAbsolute.txt
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.csprojAssemblyReference.cache
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.designer.deps.json
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.designer.runtimeconfig.json
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.dll
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.g.resources
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.GeneratedMSBuildEditorConfig.editorconfig
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.genruntimeconfig.cache
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system.pdb
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system_MarkupCompile.cache
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system_MarkupCompile.i.cache
src/wpf/assets-management-system/obj/Debug/net5.0-windows/assets-management-system_MarkupCompile.lref
src/wpf/assets-management-system/obj/Debug/net5.0-windows/MainWindow.baml
src/wpf/assets-management-system/obj/Debug/net5.0-windows/MainWindow.g.cs
src/wpf/assets-management-system/obj/Debug/net5.0-windows/MainWindow.g.i.cs
src/wpf/assets-management-system/obj/Debug/net5.0-windows/ref/assets-management-system.dll
src/wpf/assets-management-system/obj/project.assets.json
src/wpf/assets-management-system/obj/project.nuget.cache
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/console/assets-management-system/obj/assets-management-system.csproj.nuget.dgspec.json
src/console/assets-management-system/obj/assets-management-system.csproj.nuget.g.props
src/console/assets-management-system/obj/assets-management-system.csproj.nuget.g.targets
src/console/assets-management-system/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
src/console/assets-management-system/obj/Debug/net5.0/assets-management-system.AssemblyInfo.cs
src/console/assets-management-system/obj/Debug/net5.0/assets-management-system.AssemblyInfoInputs.cache
src/console/assets-management-system/obj/Debug/net5.0/assets-management-system.assets.cache
src/console/assets-management-system/obj/Debug/net5.0/assets-management-system.csprojAssemblyReference.cache
src/console/assets-management-system/obj/Debug/net5.0/assets-management-system.GeneratedMSBuildEditorConfig.editorconfig
src/console/assets-management-system/obj/project.assets.json
src/console/assets-management-system/obj/project.nuget.cache
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/console/assets-management-system/.vscode/launch.json
src/console/assets-management-system/.vscode/tasks.json
src/console/assets-management-system/bin/Debug/net5.0/assets-management-system.deps.json
src/console/assets-management-system/bin/Debug/net5.0/assets-management-system.dll
src/console/assets-management-system/bin/Debug/net5.0/assets-management-system.exe
src/console/assets-management-system/bin/Debug/net5.0/assets-management-system.pdb
src/console/assets-management-system/bin/Debug/net5.0/assets-management-system.runtimeconfig.dev.json
src/console/assets-management-system/bin/Debug/net5.0/assets-management-system.runtimeconfig.json
src/console/assets-management-system/bin/Debug/net5.0/ref/assets-management-system.dll
src/console/assets-management-system/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
src/console/assets-management-system/bin/Debug/net5.0/runtimes/win-arm64/native/sni.dll
src/console/assets-management-system/bin/Debug/net5.0/runtimes/win-x64/native/sni.dll
src/console/assets-management-system/bin/Debug/net5.0/runtimes/win-x86/native/sni.dll
src/console/assets-management-system/bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
src/console/assets-management-system/bin/Debug/net5.0/System.Data.SqlClient.dll
src/console/assets-management-system/classes/Login.cs
src/console/assets-management-system/obj/Debug/net5.0/apphost.exe
src/console/assets-management-system/obj/Debug/net5.0/assets-management-system.csproj.CopyComplete
src/console/assets-management-system/obj/Debug/net5.0/assets-management-system.csproj.CoreCompileInputs.cache
src/console/assets-management-system/obj/Debug/net5.0/assets-management-system.csproj.FileListAbsolute.txt
src/console/assets-management-system/obj/Debug/net5.0/assets-management-system.dll
src/console/assets-management-system/obj/Debug/net5.0/assets-management-system.genruntimeconfig.cache
src/console/assets-management-system/obj/Debug/net5.0/assets-management-system.pdb
src/console/assets-management-system/obj/Debug/net5.0/ref/assets-management-system.dll
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/.vs/slnx.sqlite
src/wpf/.vs/VSWorkspaceState.json
src/wpf/.vs/wpf/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
*.v2
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/.vs/slnx.sqlite
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/.vs/slnx.sqlite
src/wpf/.vs/VSWorkspaceState.json
src/wpf/.vs/wpf/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/assets-management-system.csproj.user
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
src/wpf/assets-management-system/.vs/assets-management-system/DesignTimeBuild/.dtbcache.v2
src/wpf/assets-management-system/.vs/assets-management-system/v16/.suo
